# Your Vonage application 
VONAGE_APPLICATION_ID=your_application_id

# Use this URL to generate a new JWT: https://developer.vonage.com/en/jwt
JWT=your_jwt_token

# Same redirect URI must be set in the app settings (dashboard)
REDIRECT_URI=https://your-domain/callback

# Phone number we wan to verify
PHONE_NUMBER=+341234567 
